/* stylelint-disable */
.is-animated-down {
  transform: translateY(-1.875rem);
  opacity: 0;
  animation: animated-down 0.4s forwards;
  animation-delay: var(--anime-delay, 0.5s);
  transition: transform 0.5s ease, opacity 0.5s ease;
}

@keyframes animated-down {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.is-animated-up {
  transform: translateY(1.875rem);
  opacity: 0;
  animation: animated-up 0.4s forwards;
  animation-delay: var(--anime-delay, 0.5s);
  transition: transform 0.5s ease, opacity 0.5s ease;
}

@keyframes animated-up {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes is-animated-right {
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes is-animated-left {
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@-webkit-keyframes rotate-border {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate-border {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.glow-effect {
  --glow-line-color: #fff;
  --glow-line-thickness: 0.125rem;
  --glow-line-length: 1.25rem;
  --glow-blur-color: #fff;
  --glow-blur-size: 0.3125rem;
  --glow-offset: 0rem;
  --animation-speed: 1200ms;
  /* do not change, used for calculations */
  --container-offset: 6.25rem;
  position: relative;
}

.glow-container {
  position: absolute;
  opacity: 0;
  inset: calc(var(--container-offset) / -2);
  width: calc(100% + var(--container-offset));
  height: calc(100% + var(--container-offset));
  pointer-events: none;
  /* outline: 0.1875rem solid blue; */
}

.glow-blur,
.glow-line {
  /* rx: 1.25rem; */
  fill: transparent;
  x: calc(var(--container-offset) / 2 + var(--glow-offset) / -2);
  y: calc(var(--container-offset) / 2 + var(--glow-offset) / -2);
  stroke: black;
  stroke-dasharray: var(--glow-line-length) calc(3.125rem - var(--glow-line-length));
  stroke-width: 0.3125rem;
  width: calc(100% - var(--container-offset) + var(--glow-offset));
  height: calc(100% - var(--container-offset) + var(--glow-offset));
}

.glow-effect:not(:disabled):is(:hover, :focus) :is(.glow-line, .glow-blur) {
  transition: stroke-dashoffset var(--animation-speed) ease-in;
  stroke-dashoffset: -5rem;
}

.glow-line {
  stroke: var(--glow-line-color);
  stroke-width: var(--glow-line-thickness);
}

.glow-blur {
  filter: blur(var(--glow-blur-size));
  stroke: var(--glow-blur-color);
  stroke-width: var(--glow-blur-size);
}

.glow-effect:not(:disabled):is(:hover, :focus) .glow-container {
  animation: glow-visibility ease-in-out var(--animation-speed);
}

@-webkit-keyframes glow-visibility {
  0%, 100% {
    opacity: 0;
  }
  25%, 75% {
    opacity: 1;
  }
}
@keyframes glow-visibility {
  0%, 100% {
    opacity: 0;
  }
  25%, 75% {
    opacity: 1;
  }
}
.glow-effect[data-glow-animation=false] {
  --glow-line-length: 3.125rem;
}

.glow-effect[data-glow-offset=true] {
  --glow-offset: 0.625rem;
}

.glow-effect[data-glow-animation=grow]:is(:hover, :focus) .glow-container {
  scale: 1.3;
  -webkit-transition: scale var(--animation-speed) linear;
  transition: scale var(--animation-speed) linear;
}

.breadcrumbs {
  background-image: none !important;
  background-color: var(--bg-hero-color);
  padding-top: clamp(1.25rem, 0.097rem + 4.73vw, 3.125rem); /* 20 - 50 */
}
.breadcrumbs__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.breadcrumbs__item {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  margin: 0;
}
.breadcrumbs__item:has(> p) {
  color: inherit;
}
.breadcrumbs__separator {
  display: flex;
  align-items: center;
  margin-top: 0rem;
  width: auto;
  height: 100%;
  color: #a9a9a9;
}
.breadcrumbs a,
.breadcrumbs p {
  margin: 0;
  color: #a9a9a9;
  font-weight: 500;
  font-size: 0.875rem;
  font-family: var(--font-family);
  text-transform: uppercase;
}
.breadcrumbs a {
  transition: 0.3s ease;
  color: var(--text-color);
  text-underline-offset: 0.3125rem;
}
.breadcrumbs a:hover {
  color: var(--secondary-color);
  text-decoration: underline;
}
@media screen and (min-width: 48rem) {
  .is-animated-right {
    transform: translateX(9.375rem);
    opacity: 0;
    animation: is-animated-right 0.4s forwards;
    animation-delay: var(--anime-delay, 0.5);
    transition: transform 0.5s ease, opacity 0.5s ease;
  }
  .is-animated-left {
    transform: translateX(-9.375rem);
    opacity: 0;
    animation: is-animated-left 0.4s forwards;
    animation-delay: var(--anime-delay, 0.5);
    transition: transform 0.5s ease, opacity 0.5s ease;
  }
}