/* stylelint-disable */
.is-animated-down {
  transform: translateY(-1.875rem);
  opacity: 0;
  animation: animated-down 0.4s forwards;
  animation-delay: var(--anime-delay, 0.5s);
  transition: transform 0.5s ease, opacity 0.5s ease;
}

@keyframes animated-down {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.is-animated-up {
  transform: translateY(1.875rem);
  opacity: 0;
  animation: animated-up 0.4s forwards;
  animation-delay: var(--anime-delay, 0.5s);
  transition: transform 0.5s ease, opacity 0.5s ease;
}

@keyframes animated-up {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes is-animated-right {
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes is-animated-left {
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@-webkit-keyframes rotate-border {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate-border {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.glow-effect {
  --glow-line-color: #fff;
  --glow-line-thickness: 0.125rem;
  --glow-line-length: 1.25rem;
  --glow-blur-color: #fff;
  --glow-blur-size: 0.3125rem;
  --glow-offset: 0rem;
  --animation-speed: 1200ms;
  /* do not change, used for calculations */
  --container-offset: 6.25rem;
  position: relative;
}

.glow-container {
  position: absolute;
  opacity: 0;
  inset: calc(var(--container-offset) / -2);
  width: calc(100% + var(--container-offset));
  height: calc(100% + var(--container-offset));
  pointer-events: none;
  /* outline: 0.1875rem solid blue; */
}

.glow-blur,
.glow-line {
  /* rx: 1.25rem; */
  fill: transparent;
  x: calc(var(--container-offset) / 2 + var(--glow-offset) / -2);
  y: calc(var(--container-offset) / 2 + var(--glow-offset) / -2);
  stroke: black;
  stroke-dasharray: var(--glow-line-length) calc(3.125rem - var(--glow-line-length));
  stroke-width: 0.3125rem;
  width: calc(100% - var(--container-offset) + var(--glow-offset));
  height: calc(100% - var(--container-offset) + var(--glow-offset));
}

.glow-effect:not(:disabled):is(:hover, :focus) :is(.glow-line, .glow-blur) {
  transition: stroke-dashoffset var(--animation-speed) ease-in;
  stroke-dashoffset: -5rem;
}

.glow-line {
  stroke: var(--glow-line-color);
  stroke-width: var(--glow-line-thickness);
}

.glow-blur {
  filter: blur(var(--glow-blur-size));
  stroke: var(--glow-blur-color);
  stroke-width: var(--glow-blur-size);
}

.glow-effect:not(:disabled):is(:hover, :focus) .glow-container {
  animation: glow-visibility ease-in-out var(--animation-speed);
}

@-webkit-keyframes glow-visibility {
  0%, 100% {
    opacity: 0;
  }
  25%, 75% {
    opacity: 1;
  }
}
@keyframes glow-visibility {
  0%, 100% {
    opacity: 0;
  }
  25%, 75% {
    opacity: 1;
  }
}
.glow-effect[data-glow-animation=false] {
  --glow-line-length: 3.125rem;
}

.glow-effect[data-glow-offset=true] {
  --glow-offset: 0.625rem;
}

.glow-effect[data-glow-animation=grow]:is(:hover, :focus) .glow-container {
  scale: 1.3;
  -webkit-transition: scale var(--animation-speed) linear;
  transition: scale var(--animation-speed) linear;
}

.section-faq__grid {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  gap: clamp(1.25rem, -0.27rem + 6.49vw, 5rem);
}
.section-faq .details__list {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 1.875rem;
}
.section-faq details {
  position: relative;
  transition: box-shadow 0.3s ease-out;
  box-shadow: var(--box-shadow);
  border-radius: 0.625rem;
}
.section-faq summary {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: flex-start;
  gap: 0.625rem;
  transition: color 0.3s ease-in;
  cursor: pointer;
  border-radius: 0.625rem;
  background: transparent;
  padding: 1rem 1.5rem;
  color: var(--text-color);
  font-weight: 500;
  font-size: clamp(0.875rem, 0.824rem + 0.22vw, 1rem);
}
.section-faq summary:hover {
  color: var(--primary-color);
}
.section-faq summary:hover::before {
  background-image: url(../assets/img/shevron-down-accent.svg);
}
.section-faq .details::details-content {
  display: block;
  transition-behavior: allow-discrete;
  transition-duration: 0.5s;
  transition-property: block-size, content-visibility, padding-top;
  margin-inline: 1rem;
  block-size: 0;
  overflow: hidden;
  color: var(--text-color);
  font-weight: 400;
  font-size: clamp(0.875rem, 0.824rem + 0.22vw, 1rem);
  line-height: 179%;
}
.section-faq .details::details-content ul li {
  margin-bottom: 1em;
}
.section-faq .details[open]::details-content {
  padding-top: 0.9375rem;
  block-size: auto;
  block-size: calc-size(auto, size);
}
.section-faq {
  /* List Item ::marker supports only some CSS properties, so we're using ::before pseudo-element instead */
}
.section-faq summary::marker {
  flex-shrink: 0;
  transition: rotate 0.3s ease-in-out;
  background-image: url(../assets/img/shevron-down.svg);
  width: 1.5rem;
  height: 1.5rem;
  content: "";
}
.section-faq summary::-webkit-details-marker {
  display: none;
}
.section-faq summary::before {
  position: relative;
  flex-shrink: 0;
  order: 2;
  transition: rotate 0.3s ease-in-out;
  background-image: url(../assets/img/shevron-down.svg);
  width: 1.5rem;
  height: 1.5rem;
  content: "";
}
.section-faq .details[open] {
  box-shadow: var(--box-shadow-hover);
}
.section-faq .details[open] summary {
  background: transparent;
  color: var(--primary-color);
}
.section-faq .details[open] summary::before {
  rotate: 180deg;
  background-image: url(../assets/img/shevron-down-accent.svg);
}
.section-faq .details__content {
  padding: 1rem 0.5rem;
}
.section-faq .details__content ul {
  padding-left: 1.25rem;
}
.section-faq .details__content ul li {
  margin-bottom: 0.3em;
}
.section-faq .details__content ul li:last-of-type {
  margin-bottom: 1em;
}
@media screen and (min-width: 48rem) {
  .is-animated-right {
    transform: translateX(9.375rem);
    opacity: 0;
    animation: is-animated-right 0.4s forwards;
    animation-delay: var(--anime-delay, 0.5);
    transition: transform 0.5s ease, opacity 0.5s ease;
  }
  .is-animated-left {
    transform: translateX(-9.375rem);
    opacity: 0;
    animation: is-animated-left 0.4s forwards;
    animation-delay: var(--anime-delay, 0.5);
    transition: transform 0.5s ease, opacity 0.5s ease;
  }
}
@media screen and (min-width: 64rem) {
  .section-faq__grid {
    grid-template-columns: 1fr;
  }
}