/* stylelint-disable */
.is-animated-down {
  transform: translateY(-1.875rem);
  opacity: 0;
  animation: animated-down 0.4s forwards;
  animation-delay: var(--anime-delay, 0.5s);
  transition: transform 0.5s ease, opacity 0.5s ease;
}

@keyframes animated-down {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.is-animated-up {
  transform: translateY(1.875rem);
  opacity: 0;
  animation: animated-up 0.4s forwards;
  animation-delay: var(--anime-delay, 0.5s);
  transition: transform 0.5s ease, opacity 0.5s ease;
}

@keyframes animated-up {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes is-animated-right {
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes is-animated-left {
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@-webkit-keyframes rotate-border {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate-border {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.glow-effect {
  --glow-line-color: #fff;
  --glow-line-thickness: 0.125rem;
  --glow-line-length: 1.25rem;
  --glow-blur-color: #fff;
  --glow-blur-size: 0.3125rem;
  --glow-offset: 0rem;
  --animation-speed: 1200ms;
  /* do not change, used for calculations */
  --container-offset: 6.25rem;
  position: relative;
}

.glow-container {
  position: absolute;
  opacity: 0;
  inset: calc(var(--container-offset) / -2);
  width: calc(100% + var(--container-offset));
  height: calc(100% + var(--container-offset));
  pointer-events: none;
  /* outline: 0.1875rem solid blue; */
}

.glow-blur,
.glow-line {
  /* rx: 1.25rem; */
  fill: transparent;
  x: calc(var(--container-offset) / 2 + var(--glow-offset) / -2);
  y: calc(var(--container-offset) / 2 + var(--glow-offset) / -2);
  stroke: black;
  stroke-dasharray: var(--glow-line-length) calc(3.125rem - var(--glow-line-length));
  stroke-width: 0.3125rem;
  width: calc(100% - var(--container-offset) + var(--glow-offset));
  height: calc(100% - var(--container-offset) + var(--glow-offset));
}

.glow-effect:not(:disabled):is(:hover, :focus) :is(.glow-line, .glow-blur) {
  transition: stroke-dashoffset var(--animation-speed) ease-in;
  stroke-dashoffset: -5rem;
}

.glow-line {
  stroke: var(--glow-line-color);
  stroke-width: var(--glow-line-thickness);
}

.glow-blur {
  filter: blur(var(--glow-blur-size));
  stroke: var(--glow-blur-color);
  stroke-width: var(--glow-blur-size);
}

.glow-effect:not(:disabled):is(:hover, :focus) .glow-container {
  animation: glow-visibility ease-in-out var(--animation-speed);
}

@-webkit-keyframes glow-visibility {
  0%, 100% {
    opacity: 0;
  }
  25%, 75% {
    opacity: 1;
  }
}
@keyframes glow-visibility {
  0%, 100% {
    opacity: 0;
  }
  25%, 75% {
    opacity: 1;
  }
}
.glow-effect[data-glow-animation=false] {
  --glow-line-length: 3.125rem;
}

.glow-effect[data-glow-offset=true] {
  --glow-offset: 0.625rem;
}

.glow-effect[data-glow-animation=grow]:is(:hover, :focus) .glow-container {
  scale: 1.3;
  -webkit-transition: scale var(--animation-speed) linear;
  transition: scale var(--animation-speed) linear;
}

.button {
  --btn-padding: clamp(0.938rem, 0.576rem + 1.48vw, 1.688rem)
    clamp(1.563rem, -1.866rem + 17.14vw, 2.313rem);
  /* 15 - 27  25 - 37 */
  --btn-gap: 0.625rem;
  --btn-border-width: 0.0625rem;
  --btn-border-style: solid;
  --btn-border-color: var(--accent-color);
  --btn-border-radius: 1.25rem;
  --btn-font-family: inherit;
  --btn-font-size: clamp(0.938rem, 0.881rem + 0.24vw, 1.063rem); /* 15 - 17 */
  --btn-font-weight: 500;
  --btn-color: var(--text-color);
  --btn-bg-color: var(--accent-color);
  --btn-size-icon: 1.5rem;
  display: inline-flex;
  position: relative;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  gap: var(--btn-gap);
  transition: border-color 0.2s ease, background-color 0.2s ease, color 0.2s ease, box-shadow 0.2s ease;
  cursor: pointer;
  box-shadow: 0.25rem 0.25rem 1.25rem 0rem rgba(0, 0, 0, 0.2);
  border-width: var(--btn-border-width, 0.0625rem);
  border-style: var(--btn-border-style);
  border-color: var(--btn-border-color);
  border-radius: var(--btn-border-radius);
  background-color: var(--btn-bg-color);
  padding: var(--btn-padding);
  color: var(--btn-color);
  font-weight: var(--btn-font-weight, 600);
  font-size: var(--btn-font-size, 1.125rem);
  line-height: 1.4;
  font-family: var(--font-panton);
  text-align: center;
  text-decoration: none;
}
.button:not(:disabled):active {
  box-shadow: 0 0.3125rem 0.9375rem var(--secondary-color), 0 -0.3125rem 0.9375rem var(--secondary-color);
  border-color: var(--primary-color);
  background-color: var(--secondary-color);
  color: var(--primary-color);
}
.button:focus {
  outline: none;
}
.button:focus-visible {
  outline: 0.125rem solid var(--accent-color);
  outline-offset: 0.125rem;
}
.button:disabled {
  opacity: 0.5;
  cursor: auto;
}
.button--lite {
  --btn-padding: clamp(0.938rem, 0.576rem + 1.48vw, 1.688rem)
    clamp(1.563rem, -1.866rem + 17.14vw, 2.313rem);
  /* 15 - 30  25 - 37 */
  --btn-bg-color: transparent;
  --btn-color: var(--primary-color);
  --btn-border-color: var(--primary-color);
}
.button--lite:not(:disabled):active {
  box-shadow: 0.25rem 0.25rem 1.25rem 0rem rgba(235, 187, 52, 0.2);
  border-color: var(--accent-color);
  background-color: var(--accent-color);
  color: var(--text-color);
}/* stylelint-disable */
.is-animated-down {
  transform: translateY(-1.875rem);
  opacity: 0;
  animation: animated-down 0.4s forwards;
  animation-delay: var(--anime-delay, 0.5s);
  transition: transform 0.5s ease, opacity 0.5s ease;
}

@keyframes animated-down {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.is-animated-up {
  transform: translateY(1.875rem);
  opacity: 0;
  animation: animated-up 0.4s forwards;
  animation-delay: var(--anime-delay, 0.5s);
  transition: transform 0.5s ease, opacity 0.5s ease;
}

@keyframes animated-up {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes is-animated-right {
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes is-animated-left {
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@-webkit-keyframes rotate-border {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate-border {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.glow-effect {
  --glow-line-color: #fff;
  --glow-line-thickness: 0.125rem;
  --glow-line-length: 1.25rem;
  --glow-blur-color: #fff;
  --glow-blur-size: 0.3125rem;
  --glow-offset: 0rem;
  --animation-speed: 1200ms;
  /* do not change, used for calculations */
  --container-offset: 6.25rem;
  position: relative;
}

.glow-container {
  position: absolute;
  opacity: 0;
  inset: calc(var(--container-offset) / -2);
  width: calc(100% + var(--container-offset));
  height: calc(100% + var(--container-offset));
  pointer-events: none;
  /* outline: 0.1875rem solid blue; */
}

.glow-blur,
.glow-line {
  /* rx: 1.25rem; */
  fill: transparent;
  x: calc(var(--container-offset) / 2 + var(--glow-offset) / -2);
  y: calc(var(--container-offset) / 2 + var(--glow-offset) / -2);
  stroke: black;
  stroke-dasharray: var(--glow-line-length) calc(3.125rem - var(--glow-line-length));
  stroke-width: 0.3125rem;
  width: calc(100% - var(--container-offset) + var(--glow-offset));
  height: calc(100% - var(--container-offset) + var(--glow-offset));
}

.glow-effect:not(:disabled):is(:hover, :focus) :is(.glow-line, .glow-blur) {
  transition: stroke-dashoffset var(--animation-speed) ease-in;
  stroke-dashoffset: -5rem;
}

.glow-line {
  stroke: var(--glow-line-color);
  stroke-width: var(--glow-line-thickness);
}

.glow-blur {
  filter: blur(var(--glow-blur-size));
  stroke: var(--glow-blur-color);
  stroke-width: var(--glow-blur-size);
}

.glow-effect:not(:disabled):is(:hover, :focus) .glow-container {
  animation: glow-visibility ease-in-out var(--animation-speed);
}

@-webkit-keyframes glow-visibility {
  0%, 100% {
    opacity: 0;
  }
  25%, 75% {
    opacity: 1;
  }
}
@keyframes glow-visibility {
  0%, 100% {
    opacity: 0;
  }
  25%, 75% {
    opacity: 1;
  }
}
.glow-effect[data-glow-animation=false] {
  --glow-line-length: 3.125rem;
}

.glow-effect[data-glow-offset=true] {
  --glow-offset: 0.625rem;
}

.glow-effect[data-glow-animation=grow]:is(:hover, :focus) .glow-container {
  scale: 1.3;
  -webkit-transition: scale var(--animation-speed) linear;
  transition: scale var(--animation-speed) linear;
}

.socials {
  display: flex;
  gap: clamp(0.625rem, -1.928rem + 3.99vw, 1.563rem); /* 10 - 25 */
}
.socials__item {
  flex-shrink: 0;
  border-radius: 3.125rem;
  width: 3.125rem;
  height: 3.125rem;
}
.socials__link {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease, border-color 0.3s ease;
  border: 0.0625rem solid #111111;
  border-radius: inherit;
  width: 100%;
  height: 100%;
}
.socials__link:focus {
  outline: none;
}
.socials__link:focus-visible {
  outline: 0.125rem solid var(--accent-color);
  outline-offset: 0.125rem;
}
.socials__link:has(.vk-icon):hover {
  border-color: var(--vk-color);
  background-color: var(--vk-color);
}
.socials__link:has(.tg-icon):hover {
  border-color: var(--tg-color);
  background-color: var(--tg-color);
}
.socials__link:has(.yt-icon):hover {
  border-color: var(--yt-color);
  background-color: var(--yt-color);
}
.socials__link:has(.wa-icon):hover {
  border-color: var(--wa-color);
  background-color: var(--wa-color);
}/* stylelint-disable */
.is-animated-down {
  transform: translateY(-1.875rem);
  opacity: 0;
  animation: animated-down 0.4s forwards;
  animation-delay: var(--anime-delay, 0.5s);
  transition: transform 0.5s ease, opacity 0.5s ease;
}

@keyframes animated-down {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.is-animated-up {
  transform: translateY(1.875rem);
  opacity: 0;
  animation: animated-up 0.4s forwards;
  animation-delay: var(--anime-delay, 0.5s);
  transition: transform 0.5s ease, opacity 0.5s ease;
}

@keyframes animated-up {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes is-animated-right {
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes is-animated-left {
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@-webkit-keyframes rotate-border {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate-border {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.glow-effect {
  --glow-line-color: #fff;
  --glow-line-thickness: 0.125rem;
  --glow-line-length: 1.25rem;
  --glow-blur-color: #fff;
  --glow-blur-size: 0.3125rem;
  --glow-offset: 0rem;
  --animation-speed: 1200ms;
  /* do not change, used for calculations */
  --container-offset: 6.25rem;
  position: relative;
}

.glow-container {
  position: absolute;
  opacity: 0;
  inset: calc(var(--container-offset) / -2);
  width: calc(100% + var(--container-offset));
  height: calc(100% + var(--container-offset));
  pointer-events: none;
  /* outline: 0.1875rem solid blue; */
}

.glow-blur,
.glow-line {
  /* rx: 1.25rem; */
  fill: transparent;
  x: calc(var(--container-offset) / 2 + var(--glow-offset) / -2);
  y: calc(var(--container-offset) / 2 + var(--glow-offset) / -2);
  stroke: black;
  stroke-dasharray: var(--glow-line-length) calc(3.125rem - var(--glow-line-length));
  stroke-width: 0.3125rem;
  width: calc(100% - var(--container-offset) + var(--glow-offset));
  height: calc(100% - var(--container-offset) + var(--glow-offset));
}

.glow-effect:not(:disabled):is(:hover, :focus) :is(.glow-line, .glow-blur) {
  transition: stroke-dashoffset var(--animation-speed) ease-in;
  stroke-dashoffset: -5rem;
}

.glow-line {
  stroke: var(--glow-line-color);
  stroke-width: var(--glow-line-thickness);
}

.glow-blur {
  filter: blur(var(--glow-blur-size));
  stroke: var(--glow-blur-color);
  stroke-width: var(--glow-blur-size);
}

.glow-effect:not(:disabled):is(:hover, :focus) .glow-container {
  animation: glow-visibility ease-in-out var(--animation-speed);
}

@-webkit-keyframes glow-visibility {
  0%, 100% {
    opacity: 0;
  }
  25%, 75% {
    opacity: 1;
  }
}
@keyframes glow-visibility {
  0%, 100% {
    opacity: 0;
  }
  25%, 75% {
    opacity: 1;
  }
}
.glow-effect[data-glow-animation=false] {
  --glow-line-length: 3.125rem;
}

.glow-effect[data-glow-offset=true] {
  --glow-offset: 0.625rem;
}

.glow-effect[data-glow-animation=grow]:is(:hover, :focus) .glow-container {
  scale: 1.3;
  -webkit-transition: scale var(--animation-speed) linear;
  transition: scale var(--animation-speed) linear;
}

.page--index {
  position: relative;
}
.page--index__bg {
  position: fixed;
  top: var(--header-height);
  left: 0;
  opacity: 0.18;
  z-index: -1;
  width: 50%;
  height: 50%;
}
.page--index__bg img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: top left;
}

.section-hero {
  position: relative;
  padding-top: calc((100svh - var(--min-height-section)) / 2);
  padding-bottom: calc((100svh - var(--min-height-section)) / 2);
  min-height: var(--min-height-section);
}
.section-hero__grid {
  display: grid;
  gap: clamp(1.25rem, 0.167rem + 4.62vw, 3.125rem); /* 30 - 50 */
}
.section-hero__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
}
.section-hero__title {
  font-weight: 700;
  font-family: "PlaypenSans";
}
.section-hero__subtitle {
  font-weight: 500;
  font-family: "PlaypenSans";
}
.section-hero__image {
  border: 0.125rem solid var(--secondary-color);
  border-radius: clamp(3.75rem, 2.045rem + 7.27vw, 7.5rem); /* 60 - 120 */
  width: 100%;
  max-height: 48rem;
  overflow: hidden;
  corner-shape: scoop;
  box-shadow: 0 0.3125rem 0.9375rem var(--secondary-color), 0 -0.3125rem 0.9375rem var(--secondary-color);
}
.section-hero__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section-blog__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18.125rem, 1fr));
  gap: clamp(0.938rem, 0.653rem + 1.21vw, 1.563rem); /* 15 - 25 */
}

.blog-item {
  display: flex;
  flex-direction: column;
}
.blog-item__image {
  flex-shrink: 0;
  border: 0.0625rem solid var(--secondary-color);
  border-radius: 1.875rem;
  aspect-ratio: 4/3;
  corner-shape: scoop;
  max-width: none;
}
.blog-item__content {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.9375rem;
  padding: 0.9375rem;
  height: 100%;
}
.blog-item__title {
  font-size: clamp(1.125rem, 0.955rem + 0.73vw, 1.5rem); /* 18 - 24 */
}
.blog-item__text {
  flex-grow: 1;
}
@media screen and (max-width: 63.99875rem) {
  .section-hero__image {
    aspect-ratio: 58/65;
  }
}
@media screen and (min-width: 48rem) {
  .is-animated-right {
    transform: translateX(9.375rem);
    opacity: 0;
    animation: is-animated-right 0.4s forwards;
    animation-delay: var(--anime-delay, 0.5);
    transition: transform 0.5s ease, opacity 0.5s ease;
  }
  .is-animated-left {
    transform: translateX(-9.375rem);
    opacity: 0;
    animation: is-animated-left 0.4s forwards;
    animation-delay: var(--anime-delay, 0.5);
    transition: transform 0.5s ease, opacity 0.5s ease;
  }
  .is-animated-right {
    transform: translateX(9.375rem);
    opacity: 0;
    animation: is-animated-right 0.4s forwards;
    animation-delay: var(--anime-delay, 0.5);
    transition: transform 0.5s ease, opacity 0.5s ease;
  }
  .is-animated-left {
    transform: translateX(-9.375rem);
    opacity: 0;
    animation: is-animated-left 0.4s forwards;
    animation-delay: var(--anime-delay, 0.5);
    transition: transform 0.5s ease, opacity 0.5s ease;
  }
  .is-animated-right {
    transform: translateX(9.375rem);
    opacity: 0;
    animation: is-animated-right 0.4s forwards;
    animation-delay: var(--anime-delay, 0.5);
    transition: transform 0.5s ease, opacity 0.5s ease;
  }
  .is-animated-left {
    transform: translateX(-9.375rem);
    opacity: 0;
    animation: is-animated-left 0.4s forwards;
    animation-delay: var(--anime-delay, 0.5);
    transition: transform 0.5s ease, opacity 0.5s ease;
  }
}
@media (min-width: 64rem) {
  .section-hero__grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .section-hero__content {
    align-items: flex-start;
  }
  .section-blog__grid {
    grid-template-columns: repeat(auto-fit, minmax(18.75rem, 0.33fr));
  }
}
@media (min-width: 85.375rem) {
  .section-blog__grid {
    grid-template-columns: repeat(auto-fit, minmax(20rem, 0.25fr));
  }
}
@media (any-hover: hover) and (pointer: fine) {
  .button:not(:disabled):hover {
    box-shadow: 0 0.3125rem 0.9375rem var(--secondary-color), 0 -0.3125rem 0.9375rem var(--secondary-color);
    border-color: var(--primary-color);
    background-color: var(--secondary-color);
    color: var(--primary-color);
  }
  .button--lite:not(:disabled):hover {
    box-shadow: 0.25rem 0.25rem 1.25rem 0rem rgba(255, 235, 133, 0.2);
    border-color: var(--secondary-color);
    background-color: var(--light-color);
    color: var(--secondary-color);
  }
  .socials__link:not(:disabled):hover {
    border-color: var(--accent-color);
    background-color: var(--accent-color);
  }
}